<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Custom Book Covers</title>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/top-view-books-arrangement_23-2148882754.jpg?t=st=1654335412~exp=1654336012~hmac=0a9f1cc24d1dbc12367db263d63d04b8ff35c09222d561b493e7ca0be870d8c8&w=1380');background-repeat: no-repeat;background-size: cover;width:100%;height:100%;background-attachment:fixed;">
    {% include 'navbar.html' %}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert={{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>